{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
    <title>Web Design Mastery | MEDIBuddy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <link rel="icon" type="image/x-icon" href="./Images/favicon.jpeg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

  </head>
<body style=" margin:20px 0px; ">

    <div class="container self-text">
        <h1>Self Assesment Tools</h1>
        <h2>What is self assesment tools?</h2>
        <p>Self-assessment tools for mental health are questionnaires
            or tests that you can take yourself to screen for 
            symptoms of mental health conditions. 
            They are not a substitute for professional diagnosis or treatment, 
            but they can be a helpful first step in understanding your mental health.
        </p>
        <h2>Here are some self assesment tools related to mental health</h2>
        <div class="two-cards">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Patient Health Questionnaire (PHQ-9)</h5>
              <a href="https://gwep.usc.edu/patient-health-questionnaire-phq-9/" class="btn btn-primary">More Info</a>
            </div>
        </div>
        <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Generalized Anxiety Disorder (GAD-7)</h5>
              <a href="https://www.researchgate.net/figure/The-generalized-anxiety-disorder-7-item-GAD-7-scale_fig1_7064924" class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>
    <div class="two-cards">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Sleepiness Scale</h5>
              <a href="https://ummentalhealth.info/toolkit-download/pdf/SleepAssessmentQuestionnaire.pdf" class="btn btn-primary">More Info</a>
            </div>
        </div>
        <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Stress Screen</h5>
              <a href="https://mhanational.org/get-involved/stress-screener" class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>
        <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Other Screening Tools</h5>
              <a href="https://studenthealth.georgetown.edu/mental-health/online-mental-health-screening/#_ga=2.242591554.1746461923.1718548426-1239329798.1718548426" class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>
</body>
</html>
